<h3>Questions:</h3>
<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'questions/question', collection: @questions %>
  </tbody> 
</table>
<p>
  <%= link_to 'New question', new_test_question_path(@test, @question) %>
</p>
<p>
<%= link_to 'Back to tests', admin_tests_path%>
</p>
