<tr>
  <td><%= link_to gist.question.body,  admin_question_path(gist.question)%></td>
  <td><%= link_to gist.gist_id,  gist.url, {target: "_blank", rel: "nofollow"}  %></td>
  <td><%= gist.user.email %></td>
  </td>
</tr>
