<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.successful? %>
 <p class="succes">
   Test passed: Your result <%= @counting_result %> %
 </p>
<% else %>
  <p class="fail">
    Test failed: Your result <%= @counting_result %> %
  </p>
<% end %>

<p>
<%= link_to 'Back to Tests', tests_path%>
</p>