<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.successful? %>
 <p class="succes">
  <%= t('.passed', result: @counting_result )%> 
 </p>
<% else %>
  <p class="fail">
     <%= t('.failed', result: @counting_result )%>
  </p>
<% end %>

<p>
<%= link_to t('helpers.links.navigation.back'), tests_path%>
</p>