<div class="page-header m-3">
  <h2><%= t('.header') %></h2>
</div>
<p class=m-3>
  <%= @answer.question.body %>
</p>
<div class="container m-3">
  <%= render 'form' %>
  <%= link_to t('.back'), admin_question_path(@answer.question), class: "btn btn-primary" %>
</div>
