<div class="container m-3">
  <div class="page-header">
    <h2><%= t('.header') %></h2>
  </div>
  <p>
    <%= @question.body %>
  </p>

  <%= render 'form'%>

  <%= link_to t('.back'), admin_question_path(@question), class: 'btn btn-primary' %>
</div>
