<div class="page-header m-5">
  <h1><%= t('admin.tests.create.header') %></h1>
</div>


<%= render 'form' %>
<%= link_to t('helpers.links.navigation.back'), admin_tests_path, class: [ 'btn btn-primary', "m-5"]%>
