<p>
<%= render 'description', test: @test %>
</p>
<p>
<%= render partial: 'questions/index' %>
</p> 
<p>
<%= link_to 'Edit', edit_admin_test_path(@test)%> | 
<%= link_to 'Back', admin_tests_path%>
</p>
