<p>
<%= render 'description', test: @test %>
</p>
<p>
<%= render partial: 'admin/questions/index' %>
</p> 
<p>
<%= link_to t('admin.tests.show.edit'), edit_admin_test_path(@test)%> | 
<%= link_to t('helpers.links.navigation.back'), admin_tests_path%>
</p>
