<p>
<%= render 'description', test: @test %>
</p>
<p>
<%= render 'questions/index', questions: @questions %>
</p> 
<p>
<%= link_to 'Edit', edit_test_path(@test)%> | 
<%= link_to 'Back', tests_path%>
</p>